*.json
.ruff_cache
# Ignore Python cache files
__pycache__/    
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore virtual environment directories
venv/
.venv/  
# Ignore Python bytecode files
*.pyc
# Ignore log files
*.log       
# Ignore coverage reports
*.coverage
.env
cache.db
# Ignore DuckDB files   
*.duckdb
*.db
*.wal
# Ignore SQL files      
*.service